* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: cornsilk;
  padding: 15px;
}
